<div *ngIf="personSelected">

  <app-title [titulo]='(personSelected.id === 0 ? " new Teacher" : "Name: " + personSelected.name )'>
    <!-- ! I can write content between the <app-title></app-title> tags because of the <ng-content></ng-content> tags in title.component.html -->
    <button class=" btn btn-warning" (click)="volver()">Back to list</button>
  </app-title>

  <form [formGroup]="teacherForm" (submit)="submitTeacher()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <!-- <div class="mb-3">
      <label for="surname" class="form-label">Speciality</label>
      <input type="text" value="{{personSelected.speciality}}" class="form-control" id="surname">
    </div> -->
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!teacherForm.valid">{{personSelected.id === 0 ?
        'Insert' : 'Update'}}</button>
    </div>
  </form>

</div>
<!-- !Teacher NOT selected part -->
<div *ngIf="!personSelected">
  <app-title [titulo]="title">
    <button class=" btn btn-success" (click)="createTeacher()">Add teacher</button>
  </app-title>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Details</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Speciality</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of teachers">
        <td><button (click)="selectPerson(person)" class="btn btn-outline-warning">View</button></td>
        <td scope="row">{{ person.id}}</td>
        <td>{{ person.name}}</td>
        <td>{{ person.speciality}}</td>
        <td>
          <div class="btn-group">
            <button (click)="openModal(template)" class="btn btn-outline-primary">students</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- !modal part -->
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
